<app-container>
  <div class="editor__actions">
    <button mat-stroked-button (click)="cancelEditing()">Anuluj</button>
    <button mat-flat-button [disabled]="form.invalid" (click)="saveWishlist()">Zapisz</button>
  </div>

  <div>
    <form [formGroup]="form">
      <mat-form-field class="editor__field">
        <input matInput placeholder="Nazwa listy życzeń" formControlName="name">
      </mat-form-field>
    </form>

    @if(!isEditingExistingWishlist()) {
      <app-empty-gifts-info class="empty-gifts-info" width="70%" [text]="noGiftsText()"></app-empty-gifts-info>
    }
  </div>
</app-container>
