.editor__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.editor__field {
  width: 100%;
}

.empty-gifts-info {
  margin-top: 50px;
}

.loading-indicator {
  display: flex;
  justify-content: center;
}
